.swal2-container{
    background-color: rgba(204, 63, 85, 0.2) !important;
}

.swal2-popup{
    background-color: #73061B !important;
    color: white !important;
}

/* icones */

.swal2-warning{
    border-color: white !important;
    color: white !important;
}

/* success icon */

.swal2-success .swal2-success-ring{
    border: 1px solid white !important;
    color: white !important; 
    border-color: white !important;

}

.swal2-success [class^=swal2-success-line]{
    background-color: white !important;
}