 /* p {
    width: 100px;
    height: 30px;
    border: 2px solid white;
    border-radius: 15px;
    background: rgb(172, 150, 243);
    color: white;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    font-size: medium;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    transition:  margin-top 0.4s, margin-left 0.4s, box-shadow 0.4s;
    cursor: pointer;
    flex-wrap: wrap;
    
}

p:hover{
    background: rgb(105, 37, 223);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    margin-left: 15px;
    margin-top: 10px;
}  

.card-perfil{
    width: 205px;
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid purple;
    background-color: rgb(71, 5, 61);
    
}

.card-perfil__image{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
} */